/* General */
html {
    font-family: "Quicksand", sans-serif;
    font-size: 14
    
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
/* Header */
header {
    background: 
    repeating-conic-gradient(#ff4500 0% 25%, transparent 0% 50%) 
      50% / 6rem 6rem;
    height: 6rem;
    margin-left: 0;
    margin-right: 0;
}
/* Title */
.title h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    max-height: 3rem;
}

@media only screen and (max-width: 678px) {
    .title h1 {
      font-size: 1rem;
    }
}
/* Navigation */
.nav {
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
}

.nav :hover {
    color: #000000;
}
/* Login */
.login {
    position: relative;
    top: -4rem;
    left: 78rem;
}

.login button {
    color: #f5f5f5;
    background-color: #00ff44;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: gray 0.2rem 0.2rem 0.2rem;
}

.login button:hover {
    background-color: #00ff44;
    color: #000000;
}

.login button:active {
    position: absolute;
    background-color: #00ff44;
    color: #000000;
    box-shadow: none;
}
@media only screen and (max-width: 678px) {
    .login {
      visibility: hidden;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .login {
      visibility: hidden;
    }
}
/* Main */
/* About */
.about {
    background-image: url(../images/Helo\,\ openwater\,\ Boat.jpg);
    background-size: cover;
    min-height: 35rem; 
    margin-top: 1rem;
}


.about h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #f5f5f5;
}

.description {
    position: absolute;
   margin-left: 5%;
    color: #f5f5f5;
}

span {
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
}
/* Join Us */
#join_us {
    background-image: url(../images/Oban\ Station.jpg);
    background-size:cover;
    min-height: 40rem;
    margin-top: 1rem;
}

#join_us h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #f5f5f5;
}

/*#join_us .email {
    position: absolute;
    margin-left: 5%;
    color: #f5f5f5;
    font-size: 2.5rem;
}*/

#join_us .email {
    text-align: center;
    color:#f5f5f5;
    font-size: 2.5rem;
}

/*@media only screen and (max-width: 100px) {
    #join_us .email {
        visibility: hidden;
    }
}

#join_us .phone {
    position: absolute;
    margin-left: 80%;
    color: #f5f5f5;
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
    #join_us .phone {
        visibility: hidden;
    }
}*/

#join_us button {
    position: absolute;
    margin-left: 43%;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    color: #f5f5f5;
    background-color: #00ff44;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: gray 0.2rem 0.2rem 0.2rem;
}

#join_us button:hover {
    background-color: #00ff44;
    color: #000000;
}

#join_us button:active {
    background-color: #00ff44;
    color: #000000;
    margin-top: 4.7rem;
    box-shadow: none;
}
/* Gallery */
.gallery_header {
    text-align: center;
    
}

.figures {
    background-image: url(../images/Sunset\ Halo.jpg);
    background-size: cover;
}

.figure img {
    height: auto;
    max-width: 28.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

@media only screen and (max-width: 540px) {
    .figure img {
      max-width: 15rem;
    }
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure figcaption {
    text-align: center;
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* Footer */
.copyright {
    text-align: left;
    font-size: 0.5rem;
}

.emergency {
    text-align: center;
    border: 2px solid #d10b0b;
    background-color: #d10b0b;
}

.emergency p {
    color: #f5f5f5;
}